* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

section {
    height: 100vh;
}

#posts {
    background-color: yellow;
    overflow: auto;
}

#adduser {
    background-color: purple;
}

#visitUsers {
    background-color: brown;
}

#welcome {
    background-color: black;
    color: white;
    padding: 50px;
}

#welcome>h1 {
    font-size: 50px;
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
}

a {
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    color: white;
}

header {
    position: absolute;
    display: flex;
    display: block;
    width: 100vw;
}