* {
    padding: 0;
    margin: 0;
}

.cont {
    width: 500px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.white {
    background-color: white;
    border-radius: 50%;
    border: 2px black solid;
    width: 200px;
    height: 200px;
}

.green {
    background-color: rgb(9, 212, 9);
    width: 110px;
    height: 110px;
    top: 50px;
    left: 100px;
    position: relative;
    border-radius: 50%;
    border: 2px black solid;
    animation: looking-eyes 3s linear infinite;
}

.black {
    background-color: black;
    width: 30px;
    height: 30px;
    position: relative;
    left: 50px;
    top: 50px;
    border-radius: 50%;
}

@keyframes looking-eyes {
    20% {
        left: 25%;
    }

    30% {
        top: 50%;
    }

    40% {
        right: 50%;
    }

    50% {
        top: 50%;
    }

    60% {
        right: 15%;
    }

    70% {
        right: 33%;
    }

    80% {
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }

}